<div class="p2-container D5Case01">
    <div class="p2-item">
        <img src="/images/D5/02/D5_casestudy-top.png" alt="">
    </div> 
    <div class="p2-item">
         <video src="/images/D5/02/D5_casestudy.mp4" type="video/mp4" autoplay loop muted></video>
    </div> 
    <div class="p2-item">
        <img src="/images/D5/02/D5_casestudy-btm.png" alt="">
    </div> 
</div>
