<div class="p4-container FjordMember">
    <div class="p4-item1">
        <img src="/images/Fjord/04/member.jpg" alt="">
    </div> 
    <div class="p4-item2">
        <img src="/images/Fjord/04/FjordTokyo.png" alt="">
    </div> 
    <div class="p4-item3">
        <img src="/images/Fjord/04/Fjord_capability&skills_btm.png" alt="">
    </div> 
</div>