<div class="top-container p1-container">
    <div class="p1-item">
        <div class="p1-logo-container">
            <p class="p1-top-text">HI, WE ARE</p>
            <img src="/images/Fjord/P1/Fjord_logo.svg" alt="">
        </div>
        <div class="p1-top-container">
            <p class="p1-launch-date">2020.11-</p>
            <img src="/images/Fjordmark.svg" alt="">
        </div>
    </div>
    <div class="p1-item">
        <p class="p1-bottom-text">We make Brands & Experiences come to life.</p>
        <p class="p1-bottom-detail-text">ブランドの本質的価値と生活者視点を掛け合わせて<br>洗練された体験を築き、成果創出まで一気痛感で行う。</p>
    </div>
</div>
