<div class="p1-container FjordTop">
    <div class="p1-item1">
        <img src="/images/Fjord/01/Fjord_about.png" alt="">
    </div> 
    <div class="p1-item2">
        <img src="/images/Fjord/01/Fjord_about-txt.png" alt="">
    </div> 
</div>
