<div class="top-container p2-container">
    <div class="p2-item">
        <div class="p2-top-item">
            <img src="/images/Fjord/P2/Fjord-p2-top1.svg" alt="">
            <img src="/images/Fjord/P2/Fjord-p2-top2.svg" alt="">
        </div>
        <div class="p2-top-item">
            <img src="/images/Fjord/P2/Fjord-p2-top3.svg" alt="">
        </div>
    </div>
    <div class="p2-item">
        <video height=220vh src="/videos/Fjord-minna-no-ginko.mp4" type="video/mp4" autoplay loop muted></video>
    </div>
    <div class="p2-item">
        <img src="/images/Fjord/P2/Fjord-p2-bottom1.svg" alt="">
        <img src="/images/Fjord/P2/Fjord-p2-bottom2.svg" alt="">
    </div>
</div>
