<div class="top-container p4-container">
    <div class="p4-item">
        <img src="/images/Fjord/P4/team_photo.jpg" alt="">
    </div>
    <div class="p4-item">
        <div class="p4-top">
            <p>Skills / Talent</p>
        </div>
        <div class="p4-bottom">
            <div class="p4-bottom-sub">
                <div>
                    <p class="p4-capability-e">Service Design</p>
                    <p class="p4-capability-j">体験・サービスデザイン</p>
                </div>
                <div>
                    <p class="p4-capability-e">Brand Design</p>
                    <p class="p4-capability-j">ブランドデザイン</p>
                </div>
                <div>
                    <p class="p4-capability-e">Business Design</p>
                    <p class="p4-capability-j">ビジネスデザイン</p>
                </div>
                <div>
                    <p class="p4-capability-e">Creative Technologist</p>
                    <p class="p4-capability-j">クリエイティブテクノロジスト</p>
                </div>
                <div>
                    <p class="p4-capability-e">Connected Product Design</p>
                    <p class="p4-capability-j">プロダクトデザイン</p>
                </div>             
            </div>
            <div  class="p4-bottom-sub">
                <div>
                    <p class="p4-capability-e">Interaction Design</p>
                    <p class="p4-capability-j">インタラクションデザイン</p>
                </div>
                <div>
                    <p class="p4-capability-e">Visual Design</p>
                    <p class="p4-capability-j">ビジュアルデザイン</p>
                </div>
                <div>
                    <p class="p4-capability-e">Design Research</p>
                    <p class="p4-capability-j">デザインリサーチ</p>
                </div>
                <div>
                    <p class="p4-capability-e">Program Management</p>
                    <p class="p4-capability-j">プログラムマネジメント</p>
                </div>
            </div>
        </div>
    </div>
</div>