<div class="p2-container GBDCase02">
    <div class="p2-item">
        <img src="/images/GBD/03/G&BD_casestudy02-top.png" alt="">
    </div> 
    <div class="p2-item">
         <video src="/images/GBD/03/G&BD_casestudy02.mp4" type="video/mp4" autoplay loop muted></video>
    </div> 
    <div class="p2-item">
        <img src="/images/GBD/03/G&BD_casestudy02-btm.png" alt="">
    </div> 
</div>
