<div class="p1-container GBDTop">
    <div class="p1-item1">
        <img src="/images/GBD/01/G&BD_about.png" alt="">
    </div> 
    <div class="p1-item2">
        <img src="/images/GBD/01/G&BD_about-txt.png" alt="">
    </div> 
</div>
