<div class="p1-container IMJTop">
    <div class="p1-item1">
        <img src="/images/IMJ/01/IMJ_about.png" alt="">
    </div> 
    <div class="p1-item2">
        <img src="/images/IMJ/01/IMJ_about-txt.png" alt="">
    </div> 
</div>
