{{!-- <div class="menu-container" >
    <div id="title_div">
        <img src="/images/top/title.png" alt="">
    </div> 
</div>
<div class="top-container" >
    <div class="top-item">
        <a href="/fjord_1">
            <img src="/images/top/fjord.png" alt="">
        </a>
    </div> 
    <div class="top-item">
        <a href="/D5_1">
            <img src="/images/top/droga5.png" alt="">
        </a>
    </div> 
    <div class="top-item">
        <a href="/GBD_1">
            <img src="/images/top/gandbd.png" alt="">
        </a>
    </div> 
    <div class="top-item">
        <a href="/MV_1">
            <img src="/images/top/mv.png" alt="">
        </a>
    </div> 
    <div class="top-item">
        <a href="/IMJ_1">
            <img src="/images/top/imj.png" alt="">
        </a>
    </div> 
</div> --}}

<div class="top-container" >
    <div class="top-item" id="title_div">
        <img src="/images/top/title.png" alt="">
    </div> 
    <div class="top-item">
        <a href="/fjord_1">
            <img src="/images/top/fjord.png" alt="">
        </a>
    </div> 
    <div class="top-item">
        <a href="/D5_1">
            <img src="/images/top/droga5.png" alt="">
        </a>
    </div> 
    <div class="top-item">
        <a href="/GBD_1">
            <img src="/images/top/gandbd.png" alt="">
        </a>
    </div> 
    <div class="top-item">
        <a href="/MV_1">
            <img src="/images/top/mv.png" alt="">
        </a>
    </div> 
    <div class="top-item">
        <a href="/IMJ_1">
            <img src="/images/top/imj.png" alt="">
        </a>
    </div> 
</div> 
