<div class="top-container" >
    <div class="top-item" id="head-top">
        <p id="welcome-text">Welcome to</p>
        <p id="design-space-text">Creative Design Space</p>
        <p id="AIT-text">@Accenture Innovation Hub</p>
    </div> 
    <div id="menu">
        <div class="top-item" id="Fjord-top">
            <a class="top-item-link" id="fjord-link" href="/fjord_1">
                <div >
                    <img src="/images/Fjord/TOP/Fjord_logo.svg" alt="">
                </div>
            </a>
        </div>
        </a>
        <div class="top-item" id="D5-top">
            <img src="/images/D5_logo.svg" alt="" >
        </div>
        <div class="top-item" id="IMJ-top">
            <img src="/images/IMJ/TOP/IMJ_logo.svg" alt="" >
        </div>
        <div class="top-item" id="Mack-top">
            <img src="/images/Mackevision_logo.svg" alt="" >
        </div>
        <div class="top-item" id="GB-top">
            <div>
                <img src="/images/Accenture-logo.svg" alt="">
            </div>
            <div>
                <p class="logo-font">Growth & Business Design</p>
            </div> 
        </div>
    </div>
</div>
