<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  </head>
  <body>
    {{{body}}}
  </body>
  <script type="module" src="/javascripts/fabric.min.js"></script>
  <script type="module" src="/javascripts/jquery-3.6.0.min.js"></script>
  <script type="module" src="/javascripts/custom.js"></script>
</html>
