<div class="p1-container MVTop">
    <div class="p1-item1">
        <img src="/images/ MV/01/MV_about.png" alt="">
    </div> 
    <div class="p1-item2">
        <img src="/images/ MV/01/MV_about-txt.png" alt="">
    </div> 
</div>
