<div class="test-container" >
    {{!-- <div>
        <p id="draw-text">DRAWING SPACE</p>
    </div> --}}
    <div class="test-head-container">
        <div class="test-subhead-container1">
            <div class="test-logo">
                <img src="/images/Kokuban/paing_logo.png" alt="">
            </div>
            <div class="test-title">
                <span id="test-titleline1">STUDIO</span>
                <span id="test-titleline2">KOKUBAN</span>
            </div>
        </div>
        <div class="test-subhead-container2">
            <p>※ペンタブ使用後は消毒のご協力をお願いいたします。</p>
        </div>
        <div class="test-subhead-container3">
            <div class="test-box">
                <p>きょうのひとこと</p>
            </div>
        </div>
        <div class="test-subhead-container3">
            <div class="test-box">
                <p>次の週末何する？！</p>
            </div>
        </div>
    </div>
    <div class="test-item">
        <canvas id="draw-area"></canvas>
    </div>



    {{!-- <div>
        <button id="clear-button">clear all</button>
    </div> --}}
</div>