<div class="vote-container vote_result">
    <div class="vote-item1" >
        <img id="dog-bg" src="/images/vote/dog_pattern.png" alt="">
    </div> 
    <div class="vote-item2">
        <img id="cat-bg" src="/images/vote/cat_pattern.png" alt="">
    </div> 
    <div class="vote-dog" >
        <img  id="vr-dog" src="/images/vote/dog.png" alt="">
    </div> 
    <div class="vote-cat" >
        <img id="vr-cat" src="/images/vote/cat.png" alt="">
    </div> 
    <div class="dogp-circle">
        <p id="dog_p" class="dtitle1">{{dog_data}}%</p>
    </div>
    <div class="catp-circle">
        <p id="cat_p" class="dtitle1">{{cat_data}}%</p>
    </div>
</div>