<div class="vote-container vote_top">
    <div class="vote-item1">
        <img src="/images/vote/dog_pattern.png" alt="">
    </div> 
    <div class="vote-item2">
        <img src="/images/vote/cat_pattern.png" alt="">
    </div> 
    <div class="vote-dog">
        <img src="/images/vote/dog.png" alt="">
    </div> 
    <div class="vote-cat">
        <img src="/images/vote/cat.png" alt="">
    </div> 
    <div class="circle">
        <p class="circle1">It's Vote Time!</p>
        <p class="circle2">あなたは...</p>
        <p class="circle3">上下キーで</p>
        <p class="circle3">投票してね！</p>
    </div>
    <div class="dog-title">
        <p class="dtitle1">犬派</p>
        <p class="dtitle2">dog person</p>
    </div>
    <div class="cat-title">
        <p class="dtitle1">猫派</p>
        <p class="dtitle2">cat person</p>
    </div>
</div>